@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #f9bf2d;
  font-family: "Lora", sans-serif;
}

.wrapper {
  display: flex;
  margin: 100px 100px 0 250px;
  column-gap: 140px;
}

.card1 {
  width: 360px;
  height: 190px;
  background-color: #222c85;
  border-radius: 40px;
  padding: 30px 30px;
}

.hr-card1-shadow {
  margin: 20px 40px;
  border: 0;
  height: 0;
  box-shadow: 0 0 15px 1.1px black;
}

.card1-text {
  color: white;
  font-weight: 600;
  font-size: 22px;
  display: flex;
  column-gap: 8px;

}

.card1-text h2 {
  margin-top: 20px;
}

.square {
  width: 40px;
  height: 40px;
  margin-top: 14px;
  background-color: #121b76;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatars {
  display: flex;
  margin-top: 15px;
}

.avatars img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 0.25rem -0.15rem;
  outline: 0.2rem solid #222c85;
}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: white;
  margin: 0.25rem -0.15rem;
  outline: 0.2rem solid #222c85;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle h4 {
  color: #222c85;
  font-weight: 900;
  font-size: 14px;
}

.circle:hover {
  cursor: pointer;
}

.card2-area {
  margin-top: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  color: #ffffff;
}

.hr-card2-shadow {
  margin: 30px 65px;
  width: 200px;
  height: 0;
  border: none;
  box-shadow: 0 0 15px 1.1px black;
}

.card2 {
  width: 270px;
  height: 280px;
  background-color: #222c85;
  border-radius: 40px;
  padding: 30px;
}

.card2-header {
  font-weight: 800;
  font-size: 22px;
}

.card2-text {
  margin-top: 22px;
  padding-bottom: 20px;
}

.card2-star:hover {
  cursor: pointer;
}

.card2-watch:hover {
  cursor: pointer;
}

.card2-link {
  display: flex;
  column-gap: 8px;
  padding-bottom: 25px;
}

.card2-link .link {
  text-decoration: underline;
  color: #ffffff;
}

.card2-star {
  display: flex;
  column-gap: 8px;
  padding-bottom: 25px;
}

.card2-watch {
  display: flex;
  column-gap: 8px;
  padding-bottom: 15px;
}

.wrapper2 {
  display: flex;
}

.card3-area {
  margin-left: 360px;
  color: #ffffff;
  height: 180px;
}

.hr-card3-shadow {
  margin: 30px 30px;
  height: 0;
  border: none;
  box-shadow: 0 0 15px 1.1px black;
}

.card3 {
  width: 360px;
  height: 150px;
  background-color: #222c85;
  border-radius: 40px;
  padding: 30px;
}

.card3-header {
  font-weight: 800;
  font-size: 22px;
}

.card3-hr {
  margin: 20px 0;
  padding: 0;
  height: 9px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(90deg, #5398fc 34%, #e4bd2f 0%, #e4bd2f 66%);
}

.card3-languag {
  display: flex;
  column-gap: 25px;
}

.card3-phyton {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
}

.card3-phyton-circle {
  width: 12px;
  height: 12px;
  background: #5398fc;
  border-radius: 50%;
}

.card3-typescript {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
}

.card3-typescript-circle {
  width: 12px;
  height: 12px;
  background: #e4bd2f;
  border-radius: 50%;
}
