@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #f9bf2d;
}

.wrapper {
  margin: 30px;
}

.card {
  position: relative;
  background-color: #222c85;
  border-radius: 40px;
  padding: 20px;
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-size: 14px;
  margin: 3.5em;
  width: 360px;
}

.card:nth-child(2) {
  width: 270px;
}

.header {
  font-weight: 600;
  font-size: 22px;
  display: flex;
  column-gap: 8px;
}

.body {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

.contributors {
  padding: 20px 0;
}

.square {
  width: 40px;
  height: 40px;
  margin-top: -5px;
  background-color: #121b76;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatars {
  display: flex;
}

.avatars img,
.circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 0.25rem -0.15rem;
  outline: 0.2rem solid #222c85;
}

.circle {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle h4 {
  color: #222c85;
  font-weight: 900;
  font-size: 14px;
}

.card:after {
  content: "";
  position: absolute;
  width: 21.5em;
  top: 12rem;
  height: 2px;
  box-shadow: 0 13px 9px black;
}

.about-info {
  padding-top: 20px;
  display: flex;
  column-gap: 8px;
}

.about-info .link {
  text-decoration: underline;
  color: #ffffff;
}

.hr {
  margin: 20px 0;
  padding: 0;
  height: 9px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(90deg, #5398fc 34%, #e4bd2f 0%, #e4bd2f 66%);
}

.languages {
  display: flex;
  column-gap: 25px;
}

.phyton,
.typescript {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
}

.phyton-circle,
.typescript-circle {
  width: 12px;
  height: 12px;
  background: #5398fc;
  border-radius: 50%;
}

.typescript-circle {
  background: #e4bd2f;
}
